<div>
    <span>Memory:</span>&nbsp;<span>{{metric.memory }}</span>
</div>
<div>
    <span>Memory Free:</span>&nbsp;<span>{{metric.memoryFree }}</span>
</div>
<div>
    <span>Theads:</span>&nbsp;<span>{{metric.threads }}</span>
</div>
<div>
    <span>Threads Peak:</span>&nbsp;<span>{{metric.threadsPeak }}</span>
</div>
<div>
    <span>Threads Daemon:</span>&nbsp;<span>{{metric.threadsDaemon }}</span>
</div>

