<h3>Elastic Search</h3>
<div>
  <span>Status:</span>&nbsp;<span>{{elasticSearch.status}}</span>
</div>
<div>
  <span>Cluster Name:</span>&nbsp;<span>{{elasticSearch.clusterName}}</span>
</div>
<div>
  <span>Number of Nodes:</span>&nbsp;<span>{{elasticSearch.numberOfNodes}}</span>
</div>
<div>
  <span>Active Primary Shards:</span>&nbsp;<span>{{elasticSearch.activePrimaryShards}}</span>
</div>
<div>
  <span>Active Shards:</span>&nbsp;<span>{{elasticSearch.activeShards}}</span>
</div>
