<h3>elasticSearch</h3>
<div>
  <span>Status:</span>&nbsp;<span>{{elasticSearch.status}}</span>
</div>
<div>
  <span>clusterName:</span>&nbsp;<span>{{elasticSearch.clusterName}}</span>
</div>
<div>
  <span>numberOfNodes:</span>&nbsp;<span>{{elasticSearch.numberOfNodes}}</span>
</div>
<div>
  <span>activePrimaryShards:</span>&nbsp;<span>{{elasticSearch.activePrimaryShards}}</span>
</div>
<div>
  <span>activeShards:</span>&nbsp;<span>{{elasticSearch.activeShards}}</span>
</div>
